* {
	box-sizing: border-box;
}

/*Header Contents=================================================================================================
==================================================================================================================*/

header {
	background-color: rgb(58, 119, 168);
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

h1 {
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-family: 'EB Garamond', serif;
}

/*Advanced Organizer Contents=================================================================================================
==================================================================================================================*/

#advanceOrganizer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

.moduleDiv {
	background-color: #6D6D6D;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.moduleDivSelected {
	border: solid rgb(58, 119, 168) 6px;
}

.moduleIcon {
	height: 60%;
	width: 60%;
}

.moduleDiv:hover {
	cursor: pointer;
	background-color: rgb(58, 119, 168);
}

.connectDiv {
	height: 60px;
	width: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.connectDiv div {
	background-color: #6D6D6D;
	height: 10px;
	width: 100%;
}

/*Viewing Pane and Layout Wrapper=================================================================================================
==================================================================================================================*/

#viewingPane {
    width: 80%;
    min-height: 46vh;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: solid rgb(58, 119, 168) 8px;
    padding: 20px;
}

#readingPane {
	width: 98%;
    min-height: 20vh;
    margin: 0px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#readingPane p {
	margin: 6px;
	font-family: 'Forum', cursive;
	font-size: 1.5em;
}

#layoutWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 90%;
	margin: 40px auto;
	position: relative;
}


/*Drop Activity Contents=================================================================================================
==================================================================================================================*/

.drop{
	background-color: rgba(58, 119, 168, 0.3);
	padding-top: 6px;
	font-family: 'Forum', cursive;
	color: #6D6D6D;
	text-decoration: underline;
	position: absolute;
	display: none;
	justify-content: center;
	z-index: 10;
	border: solid 4px #6D6D6D;
}

.dropTarget {
	background-color: transparent;
	position: absolute;
	z-index: 1;
}

#dropOne, #dropOneTarget {
    top: 14%;
    left: 3%;
    height: 39%;
    width: 28%;
}

#dropTwo, #dropTwoTarget {
    top: 14%;
    left: 32%;
    height: 56%;
    width: 34%;
}

#dropThree, #dropThreeTarget {
	top: 14%;
    left: 68%;
    height: 39%;
    width: 28%;
}

#dropFour, #dropFourTarget {
	top: 70%;
    left: 36%;
    height: 25%;
    width: 24%;
}

#apartmentPic {
	width: 100%;
	height: 100%;
}

#feedbackDiv {
	border: 4px solid #6D6D6D;
	text-align: center;
	padding: 10px;
	min-width: 80%;
	min-height: 90px;
}

#feedbackDiv p {
	margin: 6px;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

#instructionsDiv {
	text-align: center;
	padding: 10px;
}

#dropAssessmentContainerDiv {
	font-family: 'Forum', cursive;
	font-size: 1.2em;
}

/*Drop Activity Video Contents=================================================================================================
==================================================================================================================*/

video {
	width: 100%;
	height: auto;
}

/*Button Contents=================================================================================================
==================================================================================================================*/

#navigationDiv {
	display: flex;
	justify-content: center;
}

.button {
	font-family: 'Forum', cursive;
	font-size: 1.5em;
	margin: 10px;
	background-color: black;
	color: white;
	border: solid white 2px;
	height: 50px;
	width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center

}

.button:hover {
	cursor: pointer;
}

#backButton {
	display: none;
}

#submitButton {
	display: none;
}

@media screen and (min-width: 700px) {

	#viewingPane {
		width: 25%;
	}

	#readingPane {
		width: 50%;
		padding: 0px;
	}
}