
/*====================================================================================================================

                           								 UNIVERSAL STYLES

======================================================================================================================*/

* {
	box-sizing: border-box;
}

.error {
	border: solid red 2px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*======================================================================================================================

                           								 HEADER PHONE

========================================================================================================================*/

/*-----------------------------GENERAL FORMATTING----------------------------------*/

                               /*STYLE*/

.spacer {
	height: 65px;
	background-color: black;
}

                         		/*LAYOUT*/

/*-----------------------------SANDWICH ICON----------------------------------*/

								/*STYLE*/
#sandwichNav {
	position: fixed;
	background-color: #7e7e7e;
	height: 40px;
	width: 40px;
	top: 12px;
	right: 12px;
	border-radius: 5px;
}

#sandwichNav div {
	margin: 0 auto;
	height: 2px;
	width: 50%;
	background-color: white;
}

#sandwichNav div:first-child {
	margin-top: 10px;
}

#sandwichNav div:last-child {
	margin-bottom: 10px;
}

							     /*LAYOUT*/


/*-----------------------------SANDWICH MENU----------------------------------*/

								   /*STYLE*/

/*sets the initial conditions for Sandwich.JS to work*/
#expandedMenu {
	display: none;
}
/*sets the initial conditions for Sandwich.JS to work*/
#expandedMenuLander {
	display: none;
}

#expandedMenu {
	background: rgba(35, 39, 41, 0.8);
	border-radius: 5px;
	width: 100%;
}

#expandedMenu ul {
	list-style-type: none;
	
	text-align: center;
}
#expandedMenu li {
	padding: 16px;
}

#expandedMenu li a {
	text-decoration: none;
	color: white;
	font-family: 'EB Garamond', serif;
	font-size: 1.3em;
}
#menuItems {
	padding: 0;
}

                                 /*LAYOUT*/

#expandedMenuLander {
	z-index: 2;
	position: fixed;
	top: 364px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

#sandwichNav {
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#expandedMenu {
	position: fixed;
	top: 52px;
	z-index: 2;
}




/*-----------------------------MAIN NAVIGATION----------------------------------*/

								/*STYLES*/
#mainNav {
	display: none;
}
								/*LAYOUT*/

/*-----------------------------DOCUMENT BACKGROUND----------------------------------*/

								/*STYLES*/
html {
	max-width: 2500px;
	margin: 0 auto;
	background-color: black;
}


/*-----------------------------"HERO" BANNER----------------------------------*/

								/*STYLES*/

/*Sets the default phone value of the "special" elements for hero elements on larger screens*/
.specialTagLine, .specialSocialNav, .specialGreeting {
	display: none;
}
/*Hero Banner Background*/
#mainHeader {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 99%), url('../img/titleGraphicMonitor.jpg');
}

/*Tagline Styles*/
.tagLine {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

.tagLine p {
	color: white;
	font-family: 'Forum', cursive;
	font-size: 1.3em;
	padding-left: 16px;
	margin: 20px 0px;
	max-width: 80%;
}

/*Main Logo Styles (includes title, message, and profile pic)*/
.mainLogo {
	height: 37vh;
	width: 37vh;
	align-self: center;
}

.profilePic {
	height: 100%;
	width: 100%;
	border: 2px solid #7e7e7e;
	border-radius: 50%;
	border-color: rgb(159, 162, 165);
	background-image: url('../img/profilePic5.jpg');
	background-size: cover;
	margin: 0;
}

.headerTitle {
	color: white;
	font-family: 'EB Garamond', serif;
	font-weight: bolder;
	text-align: center;
}

.greetingMessage {
	margin-bottom: 0;
}

.greetingMessage h1 {
	font-family: 'EB Garamond', serif;
	font-size: 6vh;
	color: white;
	text-align: center;
	margin: 0;
}

.greetingMessage h2 {
	font-family: 'Forum', cursive;
	font-size: 3vh;
	color: white;
	padding: 0 20px;
	text-align: center;
	margin: 0;
}

/*Social navigation (part of the main logo in larger screens)*/
#socialNav ul {
	list-style-type: none;
}

#socialNav ul li {
	padding: 0 20px;
	height: 5vh;
}

.navImage {
	height: 100%;
}

								/*LAYOUT*/
/*Hero background*/
#mainHeader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*This encapsulates and vertically centers profile pic, and all special divs in larger screens*/
.mainLogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*This centers main logo in middle of page |O|  */
.mainLogo .profilePic {
	align-self: center;
}

/*Social navigation*/
#socialNav ul {
	display: flex;
	justify-content: flex-end;
}

/*-----------------------------ABOUT MODAL----------------------------------*/

								/*STYLES*/

/*Modal Backsplash*/
#modalBacksplash {
	height: 100%;
	width: 100%;
	background-color: rgba(61, 66, 69, 0.7);
	z-index: 4;
}

/*About Modal */

.secondPic {
max-height: 60%;
}

#aboutContent {
	max-height: 80%;
	overflow: auto;
	width: 80%;
	padding: 30px;
	background-color: black;
	border-radius: 5px;
	color: white;
	font-family: 'Forum', cursive;
	font-size: 1.1em;
}

#aboutContent h1 {
	font-family: 'EB Garamond', serif;
	font-size: 1.6em;
	text-align: center;
}

.modalLink {
	text-align: center;
	color: white;
	font-size: 1.3em;
	font-family: 'EB Garamond', serif;
}

.modalLink:visited{
	color: white;
}

#closeButton {
	height: 32px;
	width: 32px;
}

#closeButton:hover {
	cursor: pointer;
}

.closeButton {
	height: 100%;
	width: 100%;
}

#closeContent {
	margin-top: 20px;
	color: white;
	text-decoration: underline;
}

#closeContent {
	cursor: pointer;
	font-family: 'Forum', cursive;
}

								/*LAYOUT*/
#modalBacksplash {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	flex-direction: column;
	justify-content: center;
}

#aboutContent {
	align-self: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.secondPic {
	align-self: center;
}

#closeButton {
	position: absolute;
	right: 4px;
	top: 4px;
}

#closeContent {
	align-self: flex-end;
}


/*-----------------------------THANKS MODAL----------------------------------*/

/*Thanks Modal */

#thanksContent {
	max-height: 80%;
	overflow: auto;
	width: 80%;
	padding: 30px;
	background-color: black;
	border-radius: 5px;
	color: white;
	font-family: 'Forum', cursive;
	font-size: 1.1em;
	text-align: center;
}

#closeButton {
	height: 32px;
	width: 32px;
}

#closeButton:hover {
	cursor: pointer;
}

.closeButton {
	height: 100%;
	width: 100%;
}

#closeContent {
	margin-top: 20px;
	color: white;
}

#closeContent {
	cursor: pointer;
	font-family: 'Forum', cursive;
}





								/*LAYOUT*/
#modalBacksplash {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	flex-direction: column;
	justify-content: center;
}

#thanksContent {
	align-self: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#closeButton {
	position: absolute;
	right: 4px;
	top: 4px;
}


/*==============================================================================================================================

                           								 FOOTER PHONE

================================================================================================================================*/

/*-----------------------------FOOTER----------------------------------*/

								/*STYLES*/
/*footer*/
footer {
	margin: 0;
	width: 100%;
	background-color: black;
}

footer p {
	font-family: 'Forum', cursive;
	color: white;
	text-align: center;
	margin: 0;
}

								/*LAYOUT*/


/*=================================================================================================================================

                           							 HEADER SCREENS < 352PX

==================================================================================================================================*/

/*-----------------------------"HERO BANNER"----------------------------------*/

								/*STYLES*/
/*Tagline*/
@media only screen and (min-width: 352px) {
	.tagLine p {
		font-size: 1.4em;
	}
}


/*=================================================================================================================================

													HEADER SCREENS < 700PX

===================================================================================================================================*/

/*-----------------------------MAIN NAVIGATION----------------------------------*/

								/*STYLES*/
@media only screen and (min-width: 700px) {

	/*These are styles for the main buttons at the top of the page */
	#mainNav ul:first-child {
		list-style-type: none;
		background-color: black;
		margin: 0;
		padding: 0;
		height: 65px;
		width: 100%;
	}

	#homeMainNav, #firstMainNav, #webMainNav, #aboutMainNav, #thanksMainNav{
		position: static;
		padding: 10px;
		text-align: center;
		margin: 0px 30px;
		/*background-color: orange;*/
	}

	#mainNav #homeMainNav {
		display: none;
	}

	#mainNav ul:first-child li:hover {
		background-color: rgb(35, 39, 41);
	}

	#mainNav ul li:last-child {
		margin-right: auto;
	}

	/*#mainNav ul:first-child li {
		padding: 0 10px;
	}*/

	#mainNav ul:first-child li a {
		height: 100%;
		width: 100%;
		padding-top: 12px;
		text-decoration: none;
		color: white;
		font-family: 'Forum', cursive;
		font-size: 1.2em;
	}

	/*Positions the empty UL absolute from the parent firstMainNav (static)*/
	#mainNav .mainExpanderMenu ul:last-child {
		position: absolute;
		list-style-type: none;
		padding-left: 0px;
	}

	#mainNav .mainExpanderMenu ul:last-child li:hover {
		background-color: rgba(35, 39, 41, 0.7);
	}

	#mainNav .mainExpanderMenu ul:last-child li {
		background-color: rgba(0, 0, 0, 0.7);
		text-align: left;
		border: 0.5px white solid;
	}

	#mainNav .mainExpanderMenu ul:last-child li a {
		padding: 20px;
		padding-top: 20px;
		font-size: 1em;
		font-family: 'Forum', cursive;
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	#homeMainNav ul:last-child{
		bottom: 0px;
		left: 18px;
		height: 0px;
		width: 206px;
	}

	#firstMainNav ul:last-child{
		bottom: 0px;
		left: 30px;
		height: 0px;
		width: 206px;
	}

	#webMainNav ul:last-child {
		bottom: 0px;
		left: 264px;
		height: 0px;
		width: 206px;
	}

	#aboutMainNav ul:last-child {
		bottom: 0px;
		left: 438px;
		height: 0px;
		width: 206px;
	}

}

								/*LAYOUT*/

@media only screen and (min-width: 700px) {
	/*This removes the sandwich nav on screens larger than 700PX*/
	#sandwichNavWrapper {
		display: none;
	}
	#mainNav {
		display: flex;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 1; 
	}

	#mainNav ul:first-child {
		display: flex;
		align-items: stretch;
		justify-content: space-around;
	}

	#mainNav ul li {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

/*-----------------------------HERO BANNER----------------------------------*/

								/*STYLE*/

/*Special Tagline*/
@media only screen and (min-width: 700px) {
	.specialTagLine {
		color: white;
		font-size: 6vh;
		font-family: 'EB Garamond', serif;
	}
}

/*Main Logo*/
@media only screen and (min-width: 700px) {
	.mainLogo {
		margin-bottom: 0;
		/*height: 37vh;
		width: 37vh;*/
	}
}

/*Special Social Navigation*/
@media only screen and (min-width: 700px) {
	.specialSocialNav a img {
		height: 6vh;
		width: 6vh;
	}
}

								/*LAYOUT*/

/*Tagline (makes tagline disappear from screen at 700, but keeps height of div in place for formatting).*/
@media only screen and (min-width: 700px) {
	.tagLine {
		visibility: hidden;
	}
}

/*Main Header*/
@media only screen and (min-width: 700px) {
	#mainHeader {
		justify-content: space-between;
	}
	.profilePic {
		position: relative;
		top: 0vh;
		left: 4vh;
	}
}

/*Special Tagline (makes 3 special tagline spans appear from screen 700 forward).*/
@media only screen and (min-width: 700px) {
	.specialTagLine {
		display: inline-block;
	}
	.logoSpan1 {
		position: absolute;
		top: -2vh;
		left: -12vh;
	}
	.logoSpan2 {
		position: absolute;
		top: 5vh;
		left: -20vh;
	}
	.logoSpan3 {
		position: absolute;
		top: 14vh;
		left: -18vh;
	}
}

/*Special Social Span*/
@media only screen and (min-width: 700px) {
	.socialSpan1 {
		position: absolute;
		bottom: -3vh;
		right: -4vh;
	}
	.socialSpan2 {
		position: absolute;
		bottom: 6vh;
		right: -10vh;
	}
}

/*-----------------------------ABOUT MODAL----------------------------------*/

								/*STYLES*/


/*About Modal */

@media only screen and (min-width: 700px) {
	#aboutContent {
	width: 50%;
	}
	#thanksContent {
	width: 50%;
	}
}

								/*LAYOUT*/


/*==============================================================================================================================

                           							 HEADER SCREENS 701 - 900px

===============================================================================================================================*/

/*-----------------------------HERO BANNER----------------------------------*/

								/*STYLES*/
/*Special Greeting*/
@media only screen and (min-width: 900px) {
	.specialGreeting {
		color: white;
		font-family: 'Forum', cursive;
	}
	.specialGreetingSpan1 {
		font-size: 6vh;
	}
	.specialGreetingSpan2 {
		font-size: 4vh;
	}
}

								/*LAYOUT*/
/*General Formatting -- removes standard social navigation and greeting */
@media only screen and (min-width: 900px) {
	#socialNav {
		visibility: hidden;
	}
	.greetingMessage {
		display: none;
	}
}

/*Profile Pic -- "Moves" the profile pic from direct center on screen*/
@media only screen and (min-width: 900px) {
	.profilePic {
		top: -2vh;
		left: -11vh;
	}
}

/*Special Greeting*/
@media only screen and (min-width: 900px) {
	.specialGreeting {
		display: inline-block;
	}
	.specialGreetingSpan1 {
		position: absolute;
		top: -1vh;
		right: -28vh;
	}
	.specialGreetingSpan2 {
		position: absolute;
		top: 7vh;
		left: 40vh;
		min-width: 49vh;
	}
}

/*Special Social Nav*/

@media only screen and (min-width: 900px) {
	.specialSocialNav {
		display: inline-block;
	}
	.socialSpan1 {
		bottom: 5vh;
		right: 39vh;
	}
	.socialSpan2 {
		bottom: -3vh;
		right: 32vh;
	}
}



								/*LAYOUT*/

/*==============================================================================================================================

                           							 HEADER SCREENS 901 - 1200px

===============================================================================================================================*/

/*-----------------------------ABOUT MODAL----------------------------------*/

								/*STYLES*/


/*About Modal */

@media only screen and (min-width: 900px) {
	#aboutContent {
	width: 40%;
	}
	#thanksContent {
	width: 40%;
	}
}
