
/*====================================================================================================================

                           								 UNIVERSAL STYLES

======================================================================================================================*/

* {
	box-sizing: border-box;
}

.error {
	border: solid red 2px;
}



/*======================================================================================================================

                           								 HEADER PHONE

========================================================================================================================*/

/*-----------------------------GENERAL FORMATTING----------------------------------*/

                               /*STYLE*/

.spacer {
	height: 46px;
	background-color: black;
}

                         		/*LAYOUT*/

/*-----------------------------SANDWICH ICON----------------------------------*/

								/*STYLE*/
#sandwichNav {
	background-color: #7e7e7e;
	height: 40px;
	width: 40px;
	border-radius: 5px;
}

#sandwichNav div {
	margin: 0 auto;
	height: 2px;
	width: 50%;
	background-color: white;
}

#sandwichNav div:first-child {
	margin-top: 10px;
}

#sandwichNav div:last-child {
	margin-bottom: 10px;
}

							     /*LAYOUT*/
#sandwichNav {
	position: fixed;
	z-index: 2;
	top: 12px;
	right: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*-----------------------------SANDWICH MENU----------------------------------*/

								   /*STYLE*/
#expandedMenuBacker {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

#expandedMenu {
	background: linear-gradient(rgba(126 ,126, 126, 0.8),rgba(126 ,126, 126, 0.8));
	border-radius: 5px;
	width: 100%;
}

#expandedMenu ul {
	list-style-type: none;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
	text-align: center;
}

#expandedMenu li {
	padding: 16px;
}

#expandedMenu li:first-child {
	margin-top: 46px;
}

#expandedMenu li:last-child {
	margin-bottom: 46px;
}

#expandedMenu li a {
	text-decoration: none;
	color: white;
	font-family: 'EB Garamond', serif;
	font-size: 1.3em;
}
#menuItems {
	padding: 0;
}


                                 /*LAYOUT*/

#expandedMenu {
	position: fixed;
	top: 52px;
	z-index: 2;
}

#expandedMenuBacker {
	top: 0;
	z-index: 1;
	position: fixed;
}

#expandedMenu {
	display: none;
}

#expandedMenuLander {
	display: none;
}






/*-----------------------------MAIN NAVIGATION----------------------------------*/

								/*STYLES*/

								/*LAYOUT*/
#mainNav {
	display: none;
}


/*-----------------------------DOCUMENT BACKGROUND----------------------------------*/

								/*STYLES*/
#staticBackground {
	background-size: cover;
	background-position: center;
	background-image: url('../img/mainBacker.jpg');
	height: 100vh;
	width: 100vw;
}


								/*LAYOUT*/

#staticBackground {
	z-index: -100;
	position: fixed;
}

#documentWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/*-----------------------------MAIN HEADER----------------------------------*/

								/*STYLES*/

/*Tagline Styles*/

.tagLine {
	background-color: black;
	
	width: 100%;
	
}

.tagLine p {
	color: white;
	font-family: 'Forum', cursive;
	font-size: 1.3em;
	padding-left: 16px;
	margin: 20px 0px;
	max-width: 80%;
}

/*Main Header*/

.secondaryHeader {
	background-color: black;
}

.secondaryHeader p {
	color: white;
	font-family: 'Forum', cursive;
	font-size: 1.4em;
	padding-left: 16px;
	max-width: 78%;
	margin: 0;
	padding: 20px;
}

.secondaryTitle {
	border: black 1px solid;
	background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
	width: 100%;
	margin: 0px auto;
	box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

.secondaryTitle h1 {
	font-size: 2.5em;
	color: white;
	font-family: 'EB Garamond', serif;
	font-weight: bolder;
	text-align: center;
	margin: 18px;
}

.secondaryMain {
	margin-top: 100px;
}

								/*LAYOUT*/
/*Tagline Layout*/
.tagLine {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

/*Main Header*/

.secondaryTitle {
	position: fixed;
}

.secondaryMain {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*===========================================================================================================================

                            								MAIN PHONE

=============================================================================================================================*/

/*-----------------------------MAIN PHONE----------------------------------*/

								/*STYLES*/
/*Small Card*/

.smallCard {
	border: black 1px solid;
	background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
	width: 95%;
	margin: 20px auto;
	box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

.buckBald {
	margin-top: 68px;
}

.smallCard h2 {
	background-color: black;
	font-size: 1.7em;
	font-family: 'EB Garamond', serif;
	padding: 20px;
	margin: 0;
	text-align: center;
}

.smallCard p, .smallCard a {
	font-family: 'Forum', cursive;
	font-size: 1.2em;
	color: white;
	padding: 0px 20px;
	margin-top: 0px;
}

.smallCard h2, .smallCard h3, .smallCard a {
	color: white;
}

.smallCard h3 {
	font-family: 'Forum', cursive;
}
.smallCard a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.smallImage {
	display: block;
	height: auto;
	width: 90%;
	margin: 0px auto;
	padding: 20px;
}

.summaryPurpose {
	padding: 20px;
}

.directLinks {
	padding: 20px;
}

.directLinks a {
	display: block;
}
								/*LAYOUT*/
/*Small Card*/

.smallCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/*==============================================================================================================================

                           								 FOOTER PHONE

================================================================================================================================*/

/*-----------------------------FOOTER----------------------------------*/

								/*STYLES*/
/*footer*/
footer {
	margin: 0;
	width: 100%;
	background-color: black;
}

footer p {
	font-family: 'Forum', cursive;
	color: white;
	text-align: center;
	margin: 0;
}

								/*LAYOUT*/


/*=================================================================================================================================

                           							 MAIN HEADER > 352PX

==================================================================================================================================*/

/*-----------------------------"MAIN HEADER"----------------------------------*/

								/*STYLES*/
/*Tagline*/

@media (min-width: 352px) {
	.tagLine p {
		font-size: 1.4em;
	}
}

								/*LAYOUT*/


/*=================================================================================================================================

													HEADER SCREENS > 700PX

===================================================================================================================================*/

/*-----------------------------MAIN NAVIGATION----------------------------------*/

								/*STYLES*/
/*@media only screen and (min-width: 700px) {

	#mainNav ul {
		list-style-type: none;
		background-color: black;
		margin: 0;
		padding: 0;
		height: 65px;
		width: 100%;
	}

	#mainNav ul li{
		padding: 10px;
		text-align: center;
		margin: 0px 20px;
	}

	#mainNav ul li:hover {
		background-color: rgb(35, 39, 41);
	}

	#mainNav ul li:last-child {
		margin-right: auto;
	}

	#mainNav ul li a {
		width: 100%;
		height: 100%;
		padding-top: 15px;
		text-decoration: none;
		color: white;
		font-family: 'Forum', cursive;
		font-size: 1.2em;
	}
}*/

@media only screen and (min-width: 700px) {

	/*These are styles for the main buttons at the top of the page */
	#mainNav ul:first-child {
		list-style-type: none;
		background-color: black;
		margin: 0;
		padding: 0;
		height: 65px;
		width: 100%;
	}

	#homeMainNav, #firstMainNav, #webMainNav, #aboutMainNav, #thanksMainNav{
		position: static;
		padding: 10px;
		text-align: center;
		margin: 0px 20px;
		/*background-color: orange;*/
	}

	#mainNav #webMainNav {
		display: none;
	}

	#mainNav ul:first-child li:hover {
		background-color: rgb(35, 39, 41);
	}

	#mainNav ul li:last-child {
		margin-right: auto;
	}

	/*#mainNav ul:first-child li {
		padding: 0 10px;
	}*/

	#mainNav ul:first-child li a {
		height: 100%;
		width: 100%;
		padding-top: 12px;
		text-decoration: none;
		color: white;
		font-family: 'Forum', cursive;
		font-size: 1.2em;
	}

	/*Positions the empty UL absolute from the parent firstMainNav (static)*/
	#mainNav .mainExpanderMenu ul:last-child {
		position: absolute;
		list-style-type: none;
		padding-left: 0px;
	}

	#mainNav .mainExpanderMenu ul:last-child li:hover {
		background-color: rgba(35, 39, 41, 0.7);
	}

	#mainNav .mainExpanderMenu ul:last-child li {
		background-color: rgba(0, 0, 0, 0.7);
		text-align: left;
		border: 0.5px white solid;
	}

	#mainNav .mainExpanderMenu ul:last-child li a {
		padding: 20px;
		padding-top: 20px;
		font-size: 1em;
		font-family: 'Forum', cursive;
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	#homeMainNav ul:last-child{
		bottom: 0px;
		left: 18px;
		height: 0px;
		width: 206px;
	}

	#firstMainNav ul:last-child{
		bottom: 0px;
		left: 126px;
		height: 0px;
		width: 206px;
	}

	#webMainNav ul:last-child {
		bottom: 0px;
		left: 126px;
		height: 0px;
		width: 206px;
	}

	#aboutMainNav ul:last-child {
		bottom: 0px;
		left: 341px;
		height: 0px;
		width: 206px;
	}

}
								/*LAYOUT*/

/*@media only screen and (min-width: 700px) {

	#sandwichNavWrapper {
		display: none;
	}
	#sandwichNav {
		display: none;
	}
	#mainNav {
		display: flex;
		position: fixed;
		top: 0px;
		right: 0px;
		width: 100%;
		z-index: 1; 
	}

	#mainNav ul {
		display: flex;
		align-items: stretch;
		justify-content: space-around;
	}

	#mainNav ul li {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}*/
@media only screen and (min-width: 700px) {
	/*This removes the sandwich nav on screens larger than 700PX*/
	#sandwichNavWrapper {
		display: none;
	}

	#sandwichNav {
		display: none;
	}

	#mainNav {
		display: flex;
		position: fixed;
		top: 0px;
		right: 0px;
		width: 100%;
		z-index: 1; 
	}

	#mainNav ul:first-child {
		display: flex;
		align-items: stretch;
		justify-content: space-around;
	}

	#mainNav ul li {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


/*==============================================================================================================================

                           							 MAIN SCREENS > 768PX

===============================================================================================================================*/

/*-----------------------------SMALL CARD----------------------------------*/

								/*STYLES*/

@media (min-width: 768px) {

	.turnoverApt {
		margin-top: 28px;
	}

	.smallCard h2 {
		width: 100%;
		padding: 20px;
	}
	.smallCardImage {
		background-color: white;
		width: 30%;
		margin: 16px;
	}
	.smallImage {
		width: 100%;
	}
	.smallCard .smallCardContent {
		width: 65%;
		margin: 16px 0px;
	}
	.smallCardContent h2 {
		padding-bottom: 16px;
		border: white 2px solid;
	}
	.summaryPurpose h3 {
		margin-top: 0px;
	}

	.summaryPurpose p:first-child {
		padding-top: 18px;
	}
	.directLinks h3 {
		margin: 0;
		padding:16px 0px;
	}
	.directLinksWrapper {
	border: 0.5px solid white;
	}
}
								/*LAYOUT*/

@media (min-width: 768px) {

	.smallCard {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.smallCardImage {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.directLinksWrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 150px;
	}
	.homeBrew .smallCardContent .directLinks .directLinksWrapper p {
		padding-top: 12px;
	}
}